*{
    margin: 0px;
    padding: 0px;
}
.containers{
    display: flex;
    height: auto;
}
.left-container{
    background-color: rgb(156, 156, 156);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px 0px;
}
.right-container{
    background-color: rgb(152, 173, 173);
    width: 50%;
    padding:100px 0px;
}
.right-container h1{
    text-align: center;
    margin-bottom: 50px;
}
.right-container ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 5px;
    justify-content: center;
}
.content{
    display: flex;
    gap: 10px;
}
#add{
    width: 210px;
    border-radius: 10px;
    border: solid 1px black;
    height: 20px;
    background-color: antiquewhite;
    cursor: pointer;
    margin: 20px;
}
#add:hover{
    background-color: bisque;
    transition: 0.6s;
}
.wrapper{
    display: flex;
    gap: 20px;
}
.taskList{
    display: flex;
    flex-direction: column;
    gap: 20px;   
}
button{
    border-radius: 10px;
    width: 50px;
    border: 1px solid black;
    background-color: dimgray;
    cursor: pointer;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}